<% provide(:title, @user.email) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h1>
<h1><%=@saas_name%> Control Panel</h1>
<div class="alert alert-info">
  Please choose an option below. Use Start New Server to start a server.
</div>
<div class="block-info">
  <h3>Some field</h3>
  <h3>Some field</h3>
</div>

